body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
ul {
  margin: 0;
  list-style: none;
  padding: 20px;
}

.header-bg {
  background-color: black;
}
.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 20px;
}
.menu-nav {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-nav a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: white;
  padding: 10px 0px;
  display: inline-block;
  position: relative;
}
.menu-nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  margin-top: 4px;
}
.menu-nav a:hover:after {
  width: 100%;
  transition: 0.3s;
  position: absolute;
}
@media (max-width: 800px) {
  .menu-nav {
    gap: 20px;
  }
  .menu-nav a {
    background: #111;
    border-radius: 4px;
  }
}
@media (max-width: 600px) {
  .menu-nav {
    gap: 12px;
  }

  .menu-nav a {
    padding: 8px 12px;
  }
}
